.indexsbody{
    background: #00000f;
}
a{
    vertical-align: baseline;
}
a:hover{
    vertical-align: baseline;
}
header{
    font-family: "Maven Pro",sans-serif;
}
header .headername{
    font-size: 38px;
    color: #006064;
    font-weight: 700;
    letter-spacing: .6px;
    text-shadow: 0px 0px 9px #d62f2f;

}
#pp{
    width: 250px;
    height: 275px;
    border-radius: 50%;

}
.imgtech{
    margin-top: 5em;
    margin-right: 4em;
    width: 300px;
    height: 300px;
}
.ppdiv{
    top: 3em;
    border-radius: 50%;
    left: 35%;
    box-shadow: 1px -1px 11px 2px #d62f2f;
    position: relative;
    text-align: center;

}
header li {
    text-shadow: 0px 0px 3px #d62f2f;

}
.mytech{
    text-align: center;
    top: 5em;
    position: relative;
}
.techh1{
    color: chartreuse
}
.a{
    border: #006064 solid 5px;
    border-radius: 10%;
}
.beta{
    color: rgba(255, 0, 0, 0.739);
    font-size: 250px;
    position: absolute;
    z-index: 3;
    right: 30%;
    top: 10%;
    text-shadow: 0px 0px 3px #ffee00;
    transform: rotate(-30deg);
    
}
